bin/
*.swp
*~
vendor/
coverage/
*.code-workspace
.vscode/
#*# 
.DS_Store
./venv
venv
*.pyc
.coverage
cov.html
.pytest_cache
*.spec

# os markers
*.plist

#pyenv
.python-version

#tox
.tox

#setup
.eggs
*.egg-info
build/
__pycache__
dist
sperf.spec
sperf.build
