# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
          python-version: ${{ matrix.python }}
    - uses: psf/black@stable
    - name: Install flake8
      shell: bash
      run: |
        python -m pip install --upgrade pip
        pip install flake8
    - name: Run flake8
      shell: bash
      run: |
        flake8 pysper tests

  build:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: [ ubuntu-latest, macos-latest, windows-latest ]
            python: [3.5, 3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
          python-version: ${{ matrix.python }}
    - name: Install dependencies
      shell: bash
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements_dev.txt ]; then pip install -r requirements_dev.txt; fi
    - name: Run Tox
      shell: bash
      # Run tox using the version of Python in `PATH`
      run: tox -e py
