# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
        matrix:
            python: [3.5, 3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
	  with:
          python-version: ${{ matrix.python }}
    - name: Install dependencies
	  run: |
        python -m pip install --upgrade pip
        curl -L https://github.com/pyenv/pyenv-installer/raw/master/bin/pyenv-installer
        pip3 install coverage
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with pylint
      run: |
        scripts/lint
	- name: Run Tox
	  # Run tox using the version of Python in `PATH`
	  run: tox -e py
